# Системные файлы Mac
.DS_Store

# Виртуальное окружение (тысячи файлов)
venv/

# Папки сборки
build/
dist/

# Кэш питона
__pycache__/

# Настройки PyInstaller (генерируются скриптом)
*.spec

# Готовый файл приложения (кладем в релизы)
*.dmg

# Настройки VS Code (личные)
.vscode/